main {
    margin: auto;
}

.main-footer-container,
.main-header-container,
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.bg-pic-top,
.bg-pic-bottom {
    width: 100%;
}

.footer-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;
}

.footer-details > div > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.footer-details > div > a:hover {
    color: #5098a4;
}

.main-bar,
.recipe-preview-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 5px;
    width: 100%;
}

.main-bar > div > a > img {
    height: 50px;
}

.app-name {
    font-family: "Segoe Print", serif;
    font-size: 45px;
    padding: 10px 10px 0 10px;
}

.main-bar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 10px;
    row-gap: 5px;
    flex-grow: 1;
}

.search-bar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 10px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-width: thin;
    padding: 10px;
    width: 100%;
}

input[type=button],
input[type=submit] {
    border: none;
    white-space: normal;
    font-size: 12px;
    font-weight: bolder;
    background-color: black;
    color: white;
    width: min-content;
    height: 50px;
}

input[type=button]:hover,
input[type=submit]:hover,
.search-button:hover {
    background: #5098a4;
}

.search-button {
    background-color: white;
    font-weight: bolder;
}

.main-recipe-container,
.category-preview {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.recipe-img,
.category-preview > div> img {
    width: 100%;
    padding-bottom: 20px;
}

.recipe-details {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    padding-top: 30px;
}

.ingredients-details {
    width: 40%;
    flex-grow: 1;
}

.preparation {
    width: 60%;
    flex-grow: 3;
}

.like-button {
    height: 17px;
}

.like-button-recipe {
    height: 35px;

}

.recipe-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 200px;
    height: 230px;
    padding: 5px;
}

.recipe-preview > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 100%;
}

i {
   padding-left: 15px;
}

.recipe-name-container {
    align-items: center;
    font-size: 16px;
    width: 75%;
}

.recipe-name-container > a {
    color: black;
}

.recipe-name-container > a:hover {
    color: #5098a4;
}

.recipe-likes {
    font-size: 18px;
}

.recipe-picture-miniature {
    width: 190px;
    height: 180px;
}

.like-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 2px;
    width: 25%;
}

.likes-amount {
    color: #5098a4;
    font-size: small;
    padding-top: 20px;
}

.bar-filter-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 10px;
    width: 100%;
}

.container > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 300px;
}

.mb-3 {
    width: 100%;
}

.form-select,
.form-label,
.form-control {
    display: inline;
    width: 100%;
}

textarea {
    height: 150px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
}
