<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Przepis</title>
</head>
<body>
<main layout:fragment="content">
    <div class="main-recipe-container">
        <div>
            <div>
                <a th:href="@{|/recipe/${recipe.id}|}">
                    <div th:if="${recipe.img == ''}">
                        <i class="fa-solid fa-bowl-food fa-10x" style="color: #000000;"></i>
                    </div>
                    <div th:unless="${recipe.img == ''}">
                        <img class="recipe-img"
                             th:src="@{${recipe.img.startsWith('http') ? recipe.img : '/pictures/recipes/' + recipe.img}}"
                             th:alt="|Zdjęcie potrawy ${recipe.title}|">
                    </div>
                </a>
            </div>
            <div class="main-bar">
                <div>
                    <div>
                        <h1 th:text="${recipe.title}">Nazwa potrawy</h1>
                    </div>
                    <div>
                        <h6 th:text="${recipe.description}">Opis</h6>
                    </div>
                    <div>
                        <p class="likes-amount" th:text="|Liczba polubień: ${recipe.likes}|">Polubienia</p>
                    </div>
                </div>
                <div class="main-bar-nav">
                    <div class="like-button-container">
                        <div>
                            <a th:href="@{|/recipe/like/${recipe.id}|}">
                                <img th:unless="${recipe.likes > 0}" class="like-button-recipe"
                                     th:src="@{/pictures/app/like-button.png}" src="/pictures/app/like-button.png"
                                     alt="Serce w kole na czarnym tle">
                                <img th:if="${recipe.likes > 0}" class="like-button-recipe"
                                     th:src="@{/pictures/app/like-button-liked.png}"
                                     src="/pictures/app/like-button-liked.png" alt="Serce w kole na turkusowym tle">
                            </a>
                        </div>
                    </div>
                    <div>
                        <a th:href="@{|/recipe/edit/${recipe.id}|}"><input type="button" value="EDYTUJ"></a>
                    </div>
                    <div>
                        <form th:action="@{|/recipe/delete/${recipe.id}|}" th:method="post">
                            <input type="submit" value="USUŃ"
                                   onclick="return confirm('Czy na pewno chcesz usunąć przepis?')">
                        </form>
                    </div>
                </div>
            </div>
            <div class="recipe-details">
                <div class="ingredients-details">
                    <p th:text="|SKŁADNIKI / porcje: ${recipe.portion}|">SKŁADNIKI / ILOŚĆ PORCJI</p>
                    <div th:each="ingredientAmount: ${ingredients}">
                        <p th:text="|${ingredientAmount.ingredient.name} - ${ingredientAmount.amount}|"></p>
                    </div>
                </div>
                <div class="preparation">
                    <div>
                        <p>PRZYGOTOWANIE</p>
                        <p th:text="${recipe.preparation}">Przygotowanie</p>
                    </div>
                    <div>
                        <p>WSKAZÓWKI</p>
                        <p th:text="${recipe.hints}">Wskazówki</p>
                    </div>
                </div>
            </div>
            <div>
                <p th:text="|Data dodania: ${#temporals.format(recipe.dateAdded, 'yyyy-MM-dd HH:mm:ss')}|">Data
                    dodania</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>