<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja użytkownika</title>
    <link th:replace="~{fragment::bootstrap}">
    <link th:replace="~{fragment::styles-css}">
    <script th:replace="~{fragment::fontawesome-script}"></script>
</head>
<body>
<div class="container">
    <div class="main-header-container">
        <div th:replace="~{fragment::pic-top}"></div>
        <div class=main-bar>
            <div th:replace="~{fragment::main-bar-logo}"></div>
            <div th:replace="~{fragment::main-bar-text}"></div>
        </div>
    </div>
    <form th:action="@{/register}" action="/register" method="post" th:object="${user}">
        <div class="mb-3">
            <label class="form-label">
                Imię
                <input type="text" class="form-control" th:field="*{firstName}" placeholder="Jan">
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                Nazwisko
                <input type="text" class="form-control" th:field="*{lastName}"
                       placeholder="Kowalski">
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                Data urodzenia
                <input type="date" class="form-control" th:field="*{birthDate}">
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                *Email (login)
                <input type="email" class="form-control" th:field="*{email}" placeholder="jan@kowalski.pl">
            </label>
            <p th:errors="*{email}" class="error">Błędny email</p>
        </div>
        <div class="mb-3">
            <label class="form-label">
                *Hasło
                <input type="password" class="form-control" th:field="*{password}" placeholder="silneHasło123!">
            </label>
            <p th:errors="*{password}" class="error">Błędne hasło</p>
        </div>
        <div class="mb-3">
            <label class="form-check-label">
                Newsletter
                <input type="checkbox" class="form-check-input" th:field="*{newsletter}">
            </label>
        </div>
        <button class="search-button" type="submit">ZAREJESTRUJ</button>
    </form>
    <p>* pola obowiązkowe</p>
    <footer th:replace="~{fragment::footer}">Stopka</footer>
</div>
<script th:replace="~{fragment::bootstrap-script}"></script>
</body>
</html>